@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> ! Seja bem vindo MAX ! </h1>
    <p><a href="https://github.com/M4xEder">Veja o meu perfil no github</a>.</p>
    <h2>O que é um arquitetura MVC?</h2>
    <p>O MVC funciona como um padrão de arquitetura<br>
     de software que melhora a conexão entre as camadas de <br>
     dados, lógica de negócio e interação com usuário. Através<br>  
     da sua divisão em três componentes, o processo de programação se torna <br>
    algo mais simples e dinâmico.</p>
</div>
